<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/public/bootstrap.css">
</head>

<body>
  <div class="container">
    <%- include('../layout/navbar') %>
    
    <div class="text-end">
        <a href="/books/add-book" class="btn btn-primary">Add Book</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if(books.length > 0) { %>
                <% books.forEach(function(book){ %>
                    <tr>
                        <td>
                            <img src="<%= book.imageUrl %>" alt="<%= book.title %>" style="width:60px;height:60px">
                        </td>
                        <td><%= book.title %></td>
                        <td><%= book.author %></td>
                        <td><%= book.price %></td>
                        <td><%= book.stock %></td>
                        <td>
                            <a class="btn btn-info" href="/books/edit-book/<%= book._id %>">Edit</a>
                            <form action="/books/delete" method="post">
                                <input type="hidden" name="bookId" value="<%= book._id %>">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <h2>No Books found</h2>
            <% } %>
        </tbody>
    </table>   
  </div>
</body>

</html>